.idea/
.history/
.vscode/
node_modules/
coverage/
npm-debug.log
.DS_Store
lib/
docs/
benchmarks/
.github/
.travis.yml
.codecov.yml
LICENSE
gulpfile.js
README.md
CHANGELOG.md
tsconfig.json
dts_gen_expr.d.ts
index.ts